.container {
  min-height: 100vh;
  width: 100%;
  background: var(--color-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container .title {
  color: var(--color-light);
  font-size: 2rem;
  margin: 1rem 0;
}
.container .error {
  background: rgba(255, 0, 0, 0.5);
  color: var(--color-light);
  width: 80%;
  padding: 0.5rem;
  border-radius: 0.25rem;
}
.container .success {
  background: rgba(0, 255, 0, 0.5);
  color: var(--color-light);
  width: 80%;
  padding: 0.5rem;
  border-radius: 0.25rem;
}
.container .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}
.container .form button {
  width: 50%;
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  background: var(--color-orange);
  color: var(--color-light);
  cursor: pointer;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.container .form .formField {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  width: 100%;
  gap: 0.5rem;
}
.container .form .formField label {
  color: var(--color-light);
}
.container .form .formField input {
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  background: var(--color-light);
  color: var(--color-dark);
  height: 2.5rem;
  font-size: 1rem;
}
.container .form .formField textarea {
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  background: var(--color-light);
  color: var(--color-dark);
  resize: none;
  height: 10rem;
}
.container .form .formField input:focus,
.container .form .formField textarea:focus {
  outline: none;
  border: 2px solid var(--color-orange);
}

@media only screen and (min-width: 768px) {
  .container .form {
    width: 50%;
  }
  .container .form button {
    width: 30%;
    margin-top: 2rem;
    padding: 0.8rem;
  }
}
