.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--color-dark);
  color: var(--color-light);
  height: 100%;
}
.nav .logo {
  background: var(--color-light);
  border-radius: 0 40% 0 40%;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav .logo span {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--color-dark);
}
.nav .listContainer {
  position: absolute;
  top: 30vh;
  left: 0;
  text-align: center;
  width: 100%;
  z-index: 3;
}
.nav .listContainer .list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.nav .listContainer .list .listItemX {
  margin-top: 1rem;
}
.nav .listContainer .list .listItemX div {
  width: 2rem;
  margin: auto;
}
.nav .listContainer .list li a {
  color: var(--color-light);
}
.nav .burger {
  width: 2rem;
}
.nav .panel {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
}
.nav .socialAndLocaleContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.nav .socialAndLocaleContainer .listSocialContainer {
  position: absolute;
  top: 85vh;
  left: 0;
  text-align: center;
  width: 100%;
  z-index: 3;
}
.nav .socialAndLocaleContainer .listSocialContainer .listSocial {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@media only screen and (min-width: 768px) {
  .nav .burger {
    display: none;
  }
  .nav .panel {
    display: none;
  }
  .nav .listContainer {
    position: static;
    width: auto;
    z-index: 0;
  }
  .nav .listContainer .list {
    flex-direction: row;
  }
  .nav .listContainer .list .listItemX {
    display: none;
  }
  .nav .socialAndLocaleContainer .listSocialContainer {
    position: static;
    width: auto;
    z-index: 0;
  }
}
@media only screen and (min-width: 1024px) {
}
