.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: var(--color-dark);
}
.container .title {
  color: var(--color-light);
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.container .imageContainer {
  position: relative;
  width: 10rem;
  height: 10rem;
  margin-bottom: 1rem;
}
.container .imageContainer img {
  border-radius: 50%;
}
.container .explanationContainer {
  /* width: 90%; */
  margin: 0rem 1rem;
  /* margin: auto; */
}
.container .explanationContainer .explanation {
  color: var(--color-light);
  font-size: 1.2rem;
}

@media only screen and (min-width: 768px) {
  .container .title {
    font-size: 3rem;
  }
  .container .imageContainer {
    width: 15rem;
    height: 15rem;
  }
  .container .explanationContainer {
    width: 80%;
  }
  .container .explanationContainer .explanation {
    font-size: 1.5rem;
    line-height: 3rem;
  }
}
